@model aspnet2.Models.Material

@{
    ViewBag.Title = "Matrial №" + @Model.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Edit", "Materials", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Title, "Title")
            <br />
            @Html.EditorFor(m => m.Title)
        </p>
        <p><input type="submit" value="Update" /></p>
    </fieldset>
}
